.container { display: grid; grid-template-columns: 1fr; max-width: 400px; margin: auto; }
.todo { display: grid; grid-template-columns: 1fr auto auto; gap: 5px; margin: 5px 0; }
button { padding: 5px; }